* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color-light: #fff;
  --text-color-dark: #222;
  --hover-color: #c94d4d;
}

body {
  font-family: 'Motserrat', sans-serif;
  font-size: 14px;
  font-weight: 300;
  background-color: var(--text-color-light);
  color: var(--text-color-dark);
}

.container {
  max-width: 1240px;
  padding-inline: 20px;
  margin-inline: auto;
}